@font-face {
    font-family: 'East Sea'; /* Имя шрифта */
    src: url("./east-sea-dokdo-cyrillic.otf"); /* Путь к файлу со шрифтом */
  }
  @font-face {
    font-family: 'fishFonts'; /* Имя шрифта */
    src: url("./fishFont.ttf"); /* Путь к файлу со шрифтом */
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');