.profile__leftSide {
  width: 33%;
}
.profile__order-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profile__orderImage {
  margin: 0 20px;
  height: 62px;
  width: 62px;
}
.profile__rightSide {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.profile__right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__order {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.profile__left {
  display: flex;
  text-align: center;
}
.profile__itemInfo {
  margin: 10px 0;
  font-size: 1.3em;
  padding-right: 20px;
  text-align: center;
}
.profile__userInfo {
  /* text-align: left; */
}
.profileModal{
  margin: auto
}
.profile {
  display: flex;
  height: 80vh !important;
}
@media (max-width: 768px) {
  .profileModal{
    top: 1% !important; 
  }
  .profile__order {
    flex-direction: column;
  }
  .profile__left {
    flex-direction: column;
    justify-content: center;
  }
  .profile__leftImage {
    justify-content: center;
    display: flex;
  }
  .profile {
    flex-direction: column;
    align-items: center;
  }
  .profile__left-side {
    width: auto;
  }
}
