body {
  margin: 0;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #d0e6f4;
}
.tank {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  /* font-family: 'NotoColorEmoji'; */
}
.school {
  position: absolute;
  top: 50%;
  left: 50%;
}
#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.price__filter-input {
  display: flex;
}
.modal__commnet-list {
  transition: 300ms all;
  max-height: 250px;
  overflow: hidden;
  position: relative;
}
.modal__comment-more {
  cursor: pointer;
  opacity: 0.3;
  text-align: center;
}
.menu__item {
  cursor: pointer;
  margin: 0 15px;
}
.modal__comment-more:hover {
  opacity: 0.5;
}
.more-comment {
  overflow-y: scroll;
  max-height: 270px;
}
.more-comment::before {
  display: none !important;
}
.modal__commnet-list::before {
  content: "";
  display: block;
  height: 50px;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;

  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    #fff 75%
  );
}
.ant-modal {
  width: 80% !important;
}
/* .modal__content {
  max-width: 50%;
  margin: 0 auto;
} */
.modal__comment-title {
  font-size: 20px;
}
.modal {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
}
.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__select-type {
  margin: 20px 0;
}
.ant-modal {
  width: 40%;
}
.modal__img {
  width: 100%;
  height: 100%;
}
.filter__accept {
  margin-top: 10px;
}
.toProduct {
  background: rgba(84, 140, 177, 0.8);
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  height: 70px;
  width: 90%;
  color: white;
  border-radius: 10px;
  margin: 10px auto;
  cursor: pointer;
  border: 2px solid rgba(84, 140, 177, 1);
}
.toProduct:hover {
  background: rgba(84, 140, 177, 0.3);
  color: rgba(84, 140, 177, 1);
}
.image {
  width: 100%;
  height: 210px;
}
.price__filter-title {
  margin: 20px 0;
}
.menu__title {
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.card__price {
  font-size: 20px;
  margin: 0 auto;
}
.card__row {
  display: flex;
  align-items: center;
}
.card__name {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px;
}
.card {
  border-radius: 5px;
  padding: 5px;
  /* padding-bottom: 25px; */
  width: 270px;
  margin: 5px;
  height: fit-content;
  border: 1px solid silver;
  -webkit-box-shadow: 0 0 5px silver;
  box-shadow: 0 0 5px silver;
}
.card img {
  width: 100%;
  height: 100%;
}
.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.shop-cards {
  display: flex;
  flex-wrap: wrap;
  /* grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr;  */
}
.site-layout-background {
  background: #fff;

  padding: 0 10px;
}
.fish {
  position: absolute;
}
.ant-skeleton-element {
  width: 100%;
  height: 100%;
}
.welcome {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1197275/oceanBackdrop.jpg);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}
.next-block {
  margin-top: auto;
  margin-bottom: 5%;
  cursor: pointer;
  height: 40px;
  animation: jump 1s alternate infinite;
}
@keyframes jump {
  0% {
    margin-bottom: 5%;
  }
  100% {
    margin-bottom: 5.5%;
  }
}
.arrow {
  text-transform: uppercase;
  position: relative;
  color: white;
}
.arrow::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: white;
  bottom: -10px;
  left: 3px;
  transform: rotate(45deg);
}
.menu__item {
  border-radius: 50%;
  background: white;
  width: 42px;
  height: 42px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: white;
  bottom: -10px;
  right: 4px;
  transform: rotate(-45deg);
}
.header {
  width: fit-content;
  margin-left: auto;
  border-radius: 0 0 0 40px;
  display: flex;
  align-items: center;
}
.welcome__list {
  list-style: none;
}
.welcome__item {
  color: white;
  font-size: 2em;
  background: rgb(0, 212, 255);
  margin: 25px 0;
  width: 350px;
  height: 50px;
  padding-left: 25px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-sizing: content-box;
  position: relative;
}
.welcome__item:hover {
  height: 60px;
  width: 355px;
  margin: 30px 0;
}
.welcome__item:first-child {
  margin-top: 0;
}
.welcome__item:last-child {
  margin-bottom: 0;
}
.welcome__item::before {
  content: "";
  position: absolute;
  right: -25px;
  height: 100%;
  width: 25px;
  background: rgb(0, 212, 255);
  border-radius: 0 50% 50% 0;
}

.slider {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.slider__list {
  padding: 0;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  margin: 0;
  transition: 0.5s all ease-out;
  filter: blur(2px);
  /*  
  animation: 3s  ease-in-out 20s infinite  slider; */
}
@keyframes slider {
  0% {
    left: 0;
  }
  50% {
    left: -100vw;
  }
  100% {
    left: -200vw;
  }
}
.bubble-left {
  padding: 0 5% 0 20%;
  border-radius: 50% 0 0 50%;
}
.bubble-right {
  padding: 0 20% 0 5%;
  border-radius: 0 50% 50% 0;
}
.slider__slide {
  list-style: none;
  height: 100vh;
  width: 100vw;
}
.slider__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo__title {
  font-family: "East Sea";
  font-size: 4em;
  color: white;
}
.header {
  background-color: #387298;
  display: flex;
}
.container {
  position: relative;
}
.path-conteiner {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  left: 0;
}
.logo {
  display: flex;
  align-items: center;
}
.popOver__footer {
  display: flex;
  justify-content: flex-end;
}
.cartList__information {
  text-align: center;
  max-width: 50%;
}
.cartList__image {
  width: 64px;
  height: 64px;
}
.cartList__action-item {
  margin-left: 20px;
  margin-right: 11px;
  cursor: pointer;
}
.cartList__action {
  margin-right: 11px;
}
.cartList__right {
  display: flex;
  font-size: 1.5em;
}
.cartList__price {
  margin-left: 50px;
}
.cartList__action-item:hover {
  color: #1890ff;
}
.welcome__title {
  line-height: 60px;
  margin: 0;
  font-family: "East Sea";
  font-size: 7em;
  position: relative;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(171, 209, 234, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputCode {
  outline: none;
  /* height: 40px; */
  /* width: 100%; */
  border: 2px solid #1890ff;
  text-align: center;
  font-size: 2em;
  padding: 20px 30px;
  border-radius: 20px;
}
.inputPhone {
  outline: none;
  /* height: 40px; */
  /* width: 100%; */
  border: 2px solid #1890ff;
  text-align: center;
  font-size: 2em;
  padding: 20px 30px;
  border-radius: 20px;
}
.welcome__ciricle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
  background: rgba(56, 114, 152, 0.7);
  min-width: 1em;
  border-radius: 50%;
  vertical-align: middle;
  -webkit-box-shadow: 0px -2px 10px white;
  box-shadow: 0px -2px 10px white;
  width: 30vw;
  height: 30vw;
  z-index: 100;
  margin-top: 4%;
}
.welcome__content {
  /* padding: 7%;
  background: rgba(56, 114, 152, 0.7);
  border-radius: 50%;
  -webkit-box-shadow: 0px -2px 10px white;
  box-shadow: 0px -2px 10px white;
  width: 50vw;
  height: 50vw;
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome__ciricle::before {
  content: "";
  float: left;
  width: auto;
  padding-bottom: 100%;
}
/* .welcome__title::after {
  content: "";
  position: absolute;
  background-image: url(../img/test2.svg);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  width: 200%;
  height: 130%;
  left: -45%;
  top: -10%;
  z-index: -99;
} */
.btn__buy {
  /* font-family: "Roboto"; */
  font-size: 1.2em;
  background-color: rgba(0, 212, 255, 0.7);
  border: 3px solid rgb(0, 212, 255);
  color: white;
  border-radius: 10px;
  width: 60%;
  height: 20%;
}
.about__img {
  margin: 0 auto;
  width: 65%;

  border-radius: 10px;
}

.btn__buy:hover {
  cursor: pointer;

  box-shadow: 0 0 4px white;
  background: rgb(0, 212, 255);

  border: 3px solid rgb(0, 212, 255);
  color: white;
  transition: 0.3s all;
  animation: 0.5s linear 1s infinite alternate btn-anim;
}
@keyframes btn-anim {
  0% {
    background: radial-gradient(
      circle,
      rgba(0, 212, 255, 1) 0%,
      rgba(171, 209, 234, 1) 25%,
      rgba(0, 212, 255, 1) 100%
    );
  }

  50% {
    background: radial-gradient(
      circle,
      rgba(0, 212, 255, 1) 0%,
      rgba(171, 209, 234, 1) 50%,
      rgba(0, 212, 255, 1) 100%
    );
  }

  100% {
    background: radial-gradient(
      circle,
      rgba(0, 212, 255, 1) 0%,
      rgba(171, 209, 234, 1) 75%,
      rgba(0, 212, 255, 1) 100%
    );
  }
}
.split-reverse {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  /* grid-auto-flow: row; */
  grid-template-areas: ". .";
  min-height: 100vh;
  grid-auto-flow: dense;
}
.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". .";
  min-height: 100vh;
}
.delivery__text {
  padding: 0 10%;
  position: relative;
  background: #387298;
  justify-content: center;
  display: flex;
  color: white;
  flex-direction: column;
  /* font-family: "Roboto"; */
  text-align: center;
}
.about {
  position: relative;
  background: #387298;
  justify-content: center;
  display: flex;
  color: white;
  flex-direction: column;
  /* font-family: "Roboto"; */
  text-align: center;
  align-items: center;
}
.right-bottom-split::after {
  top: 0;
  content: "";
  position: absolute;
  background: #387298;
  width: 100%;
  height: 100%;
  right: -185px;
  /* border-radius: 39px 39px 39px 77px; */
  z-index: -1;
  border-top: 50px solid transparent;
  border-right: 100px solid red;
  border-bottom: 50px solid transparent;
  /* transform: skew(20deg); */
}
.ciricle {
  position: relative;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  border: 8px solid #387298;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.ciricle__image {
  width: 70%;
  height: 70%;
  z-index: 11;
}
.ciricle::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  /* top: 10%; */
  /* left: 10%; */
  z-index: 10;
}
.right-split::after {
  top: 0;
  content: "";
  position: absolute;
  background: #387298;
  width: 100%;
  height: 100%;
  right: -185px;
  /* border-radius: 39px 39px 39px 77px; */
  z-index: -1;
  /* transform: skew(-20deg); */
  border-top: 50px solid transparent;
  border-right: 100px solid red;
  border-bottom: 50px solid transparent;
}
.left-split::before {
  top: 0;
  content: "";
  position: absolute;
  background: #387298;
  width: 100%;
  height: 100%;
  left: -185px;
  /* border-radius: 39px 39px 39px 77px; */
  z-index: -1;
  transform: skew(-20deg);
}
.wrapper {
  padding: 0 10%;
}
.footer {
  margin-top: 25px;
  background: #387298;
  min-height: 100px;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
  flex-direction: row;
}
.footer-title {
  margin-bottom: 20px;
  color: white;
  /* font-family: "Roboto"; */
}
.footer-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
  color: white;
}
.order__list{
height: 50vh;
    overflow-y: scroll;
}
.footer-list {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.footer-link {
  /* font-family: "Roboto"; */
  color: white;
  text-decoration: none;
}
.back-arrow{
  border: none;
    font-size: 2em;
    color: silver;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.footer-link:hover {
  color: #abd1ea;
}
.footer-box {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}
.auth__menu-change-type {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.footer-bottom-credits {
  color: white;
  justify-content: center;
  display: flex;
}
.footer-bottom {
  padding: 20px 0;
  margin: 0 auto;
}
.footer-timeImage {
  width: 100px;
  height: 100px;
}
.way {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
}
.split-block-right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 100vh solid white;
  border-left: 200px solid #387298;
  width: 0;
}
.split-block-left::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 100vh solid white;
  border-right: 200px solid #387298;
  width: 0;
}
.mover {
  width: 10vw;
  position: absolute;
  left: 0;
  top: 0;
  height: 10vw;
  object-fit: contain;
  offset-rotate: 0deg;
  transition: 1s all;
}
.ant-rate {
  white-space: nowrap;
}
.ant-list-item-meta-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4%;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  
  .cardModal .ant-modal-footer {
    display: flex;
    flex-direction: column;
  }

  .ant-popover {
    width: 100% !important;
  }
  .cardModal .ant-btn-primary {
    height: 80px;
    border-radius: 6px 6px 0 0;
    margin: 0 !important;
  }
  .cardModal .ant-modal-footer {
    padding: 0;
  }
  .cardModal {
    top: 10px;
  }
  .inputCode,
  .inputPhone {
    width: 100%;
  }
  .shop-cards {
    justify-content: center;
  }
  .layout {
    margin: 0 5%;

    flex-direction: column !important;
    align-items: center;
  }
  
  .site-layout-background {
    max-width: none !important;
    min-width: auto !important;
    width: 100% !important;
    margin-bottom: 20px;
    /* padding: 0 !important; */
  }

  .layoutContent {
    padding: 0 !important;
    margin: 0px;
    min-height: 280px;
    max-width: 100%;
    width: 100% !important;
  }
  .modal {
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.4fr;
  }
  .modal__content {
    max-width: none;
  }
}
